@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* override normalize.css defaults for font-family */
html,
body,
button,
input,
optgroup,
select,
textarea {
  font-family: 'Open Sans', sans-serif; /* 1 */
}

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: rgb(35, 193, 241);
}

.col-md-1 {
  width: 10%;
}

.col-md-9 {
  width: 90%;
}

.todo-app-component {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 15vh 10vw;
  font-size: 20px;
  color: #ffffff;
}

button,
input {
  border: 0;
}

button:focus,
input:focus {
  outline: none;
}

.todo-app-component h1 {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.todo-form-component form {
  width: 30vw;
  min-width: 15em;
  max-width: 30em;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.todo-form-component input {
  width: calc(100% - 2.5em);
  height: 2.5em;
  box-sizing: border-box;
  padding: 0 12px;
  vertical-align: top;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.todo-form-component button {
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.todo-list-component {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 28vw;
  min-width: 13em;
  max-width: 28em;
  margin: 1.5em 0;
}

.list-item-component {
  width: 100%;
  padding: 6px;
  margin: 6px 0;
  color: #000000;
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.list-item-component input {
  width: 100%;
}

.list-item-component div {
  display: flex;
  justify-content: space-between;
}

.list-item-component span {
  width: calc(100% - 1.25em);
  padding-left: 1%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: text;
}

.list-item-component button {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  background: transparent;
}

.list-item-component label {
  position: relative;
  display: inline-block;
  padding-left: 5px;
  vertical-align: middle;
}

.list-item-component label {
  position: relative;
  display: inline-block;
  padding-left: 5px;
  vertical-align: middle;
}

.list-item-component label::before {
  left: 0;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-top: 3px;
  margin-right: 10px;
  content: '';
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  outline: none!important;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.list-item-component label::after {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding-left: 7px;
  margin-top: 2px;
  margin-right: 10px;
  font-size: 11px;
  color: #555555;
}

.list-item-component input[type='checkbox'] {
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}

.list-item-component input[type='checkbox']:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.list-item-component input[type='checkbox']:checked + label::after {
  font-size: 20px;
  font-weight: 600;
  content: '✓';
}

.list-item-component input[type='checkbox']:indeterminate + label::after {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding-top: 1px;
  padding-left: 3px;
  margin-top: 3px;
  margin-right: 10px;
  font-size: 11px;
  color: #555555;
}

.list-item-component input[type='checkbox']:disabled {
  cursor: not-allowed;
}

.list-item-component input[type='checkbox']:disabled + label {
  opacity: 0.65;
}

.list-item-component input[type='checkbox']:disabled + label::before {
  cursor: not-allowed;
  background-color: #eeeeee;
}

.list-item-component input[type='checkbox']:checked + label::before {
  background-color: #7e57c2;
  border-color: #7e57c2;
}

.list-item-component input[type='checkbox']:checked + label::after {
  color: #ffffff;
}

.list-item-component .item-checked {
  color: #888888;
  text-decoration: line-through;
}