{
  "passPerPreset": true,
  "presets": [
    "latest",
    "react",
    "stage-1",
    {
      "plugins": [
        "./build/babelRelayPlugin",
        "transform-flow-strip-types"
      ]
    },
  ]
}
