{
  "passPerPreset": true,
  "plugins": [
    "transform-flow-strip-types"
  ],
  "presets": [
    {
      "plugins": [
        "./build/babelRelayPlugin"
      ]
    },
    "react",
    "latest",
    "stage-0"
  ]
}
